# Ambienti virtuali Python
venv/
env/
.venv/

# File temporanei e cache di Python
__pycache__/
*.py[cod]
*$py.class

# Cartelle Dati (non caricare mai dati sensibili o enormi su Git)
data/raw/
data/interim/
data/processed/
examples/mobile_devices/output_eventi_georeferenziati.csv
examples/mobile_devices/scoperte_automatiche.csv

# Mappe, GIS e risultati generati
results/
runs/

# File di log della pipeline
logs/
*.log

# IDE e impostazioni di sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# Streamlit
.streamlit/
